body {
    background: #DCDCDC;
    color: #000000;
    font-family: Caveat;
    font-size: 12px;
}

.container {
    background: #FFFFFF;
    margin: 30px auto;
    width: 900px;
    height: 1000px;
}
 
.header {
    height: 288px;
    width: 900px;
}
 
.navigation {
    background:#009999;
    width: 900px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu {
    font-size: 25px;
    background:#F97100;
    float: left;
    width: 200px;
    height: 600px;
    font-style: italic;

}

.content {
    background: #F0F8FF;
    float: right;
    width: 700px;
    height: 600px;
}
 
.clear {
    clear:both;
}
 

.footer {
    background:#ED0021;
    height: 60px;
    width: 900px;
    text-align: center;
    font-size: 20px;
}




















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































